.nav {
  background-color: #000;
}

.nav {
  padding:10px;

  .nav-logo {
    height: 50px;
  }
}

.page-nav{
  background:rgba(164, 229, 254,.3);
  margin:15px;
  padding:15px;
  border-radius:1px;

  .btn{
    margin-right:10px;
  }
}
